<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ClientDao">
    <select id="selectAllClient" resultType="com.pojo.Client">
        select * from client
    </select>
    <select id="selectOneClient" parameterType="String" resultType="com.pojo.Client">
        select * from client where c_name=#{c_name}
    </select>
    <insert id="addClient" parameterType="com.pojo.Client">
        insert into client(c_name, c_phone, c_adress) values (#{c_name},#{c_phone},#{c_adress})
    </insert>
    <update id="updateClient" parameterType="com.pojo.Client">
        update client set c_phone=#{c_phone},c_adress=#{c_adress} where c_name=#{c_name}
    </update>
</mapper>